<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

Decide on your problem statement that will guide your analysis for this project. For guidelines, sample prompts, or inspiration, check out the README.


Who we are:
We are xxx education expert from Singapore trying to break into the US private education market.

approach:
Tuition center to determine which subject to focus on and what states to target

Find regression/correlation between GDP against ACT and Participation rate

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State
* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

Addtional Dataset
* [`SAGDP1__ALL_AREAS_1997_2021.csv`](./data/SAGDP1__ALL_AREAS_1997_2021.csv): GDP by state from 1997 - 2021 
source: https://www.bea.gov/data/gdp/gross-domestic-product

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [34]:
# Code:

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [35]:
# Code:

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [36]:
# Code:

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [37]:
# Imports:

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

In [84]:
# Code:

act_2017 = pd.read_csv('../data/act_2017.csv')
act_2018 = pd.read_csv('../data/act_2018.csv')
act_2019 = pd.read_csv('../data/act_2019.csv')
sat_2017 = pd.read_csv('../data/sat_2017.csv')
sat_2018 = pd.read_csv('../data/sat_2018.csv')
sat_2019 = pd.read_csv('../data/sat_2019.csv')
trended_gdp_per_capita_by_state = pd.read_csv('../data/download.csv', header=4)

In [85]:
#load files to dataframe
trended_gdp_per_capita_by_state.head()

  GeoFips        GeoName     2017     2018     2019
0   00000  United States  51573.0  53817.0  55724.0
1   01000        Alabama  40252.0  41607.0  43157.0
2   02000       Alaska *  57278.0  59783.0  61639.0
3   04000        Arizona  43301.0  45299.0  47242.0
4   05000       Arkansas  42056.0  43661.0  45037.0

In [86]:
trended_gdp_per_capita_by_state.drop(trended_gdp_per_capita_by_state.columns[[0]], axis=1, inplace=True)

In [87]:
trended_gdp_per_capita_by_state.head()

         GeoName     2017     2018     2019
0  United States  51573.0  53817.0  55724.0
1        Alabama  40252.0  41607.0  43157.0
2       Alaska *  57278.0  59783.0  61639.0
3        Arizona  43301.0  45299.0  47242.0
4       Arkansas  42056.0  43661.0  45037.0

In [88]:
#drop null
trended_gdp_per_capita_by_state = trended_gdp_per_capita_by_state.dropna()

In [89]:
trended_gdp_per_capita_by_state.head()

         GeoName     2017     2018     2019
0  United States  51573.0  53817.0  55724.0
1        Alabama  40252.0  41607.0  43157.0
2       Alaska *  57278.0  59783.0  61639.0
3        Arizona  43301.0  45299.0  47242.0
4       Arkansas  42056.0  43661.0  45037.0

In [90]:
trended_gdp_per_capita_by_state.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GeoName  60 non-null     object
 1   2017     60 non-null     float64
 2   2018     60 non-null     float64
 3   2019     60 non-null     float64
dtypes: float64(3), object(1)
memory usage: 2.3+ KB

In [91]:
trended_gdp_per_capita_by_state.rename(columns={'GeoName':'State',
                                               '2017': 'GDP Per Capita (2017)',
                                               '2018': 'GDP Per Capita (2018)',
                                               '2019': 'GDP Per Capita (2019)'}, 
                                                inplace=True)
trended_gdp_per_capita_by_state.head()

,State,GDP Per Capita (2017),GDP Per Capita (2018),GDP Per Capita (2019)
0,United States,51573.0,53817.0,55724.0
1,Alabama,40252.0,41607.0,43157.0
2,Alaska *,57278.0,59783.0,61639.0
3,Arizona,43301.0,45299.0,47242.0
4,Arkansas,42056.0,43661.0,45037.0

In [96]:
trended_gdp_per_capita_by_state['State'].replace('Alaska *', 'Alaska', inplace= True)
trended_gdp_per_capita_by_state['State'].replace('Hawaii *', 'Hawaii', inplace= True)
trended_gdp_per_capita_by_state.head()

,State,GDP Per Capita (2017),GDP Per Capita (2018),GDP Per Capita (2019)
0,National,51573.0,53817.0,55724.0
1,Alabama,40252.0,41607.0,43157.0
2,Alaska,57278.0,59783.0,61639.0
3,Arizona,43301.0,45299.0,47242.0
4,Arkansas,42056.0,43661.0,45037.0

In [93]:
trended_gdp_per_capita_by_state.at[0, 'State'] = 'National'

In [94]:
trended_gdp_per_capita_by_state.sort_values('State', axis=0)

,State,GDP Per Capita (2017),GDP Per Capita (2018),GDP Per Capita (2019)
1,Alabama,40252.0,41607.0,43157.0
2,Alaska *,57278.0,59783.0,61639.0
3,Arizona,43301.0,45299.0,47242.0
4,Arkansas,42056.0,43661.0,45037.0
5,California,58813.0,61509.0,64333.0
6,Colorado,55294.0,58471.0,61087.0
7,Connecticut,70163.0,73176.0,74930.0
8,Delaware,50516.0,52839.0,53539.0
9,District of Columbia,79967.0,82512.0,83270.0
59,Far West,56991.0,59627.0,62262.0
10,Florida,49020.0,51444.0,53375.0
11,Georgia,44996.0,46824.0,48697.0
54,Great Lakes,48407.0,50503.0,52069.0
12,Hawaii *,51055.0,52174.0,53888.0
13,Idaho,41560.0,43356.0,45261.0
14,Illinois,53645.0,56512.0,58273.0
15,Indiana,45116.0,47100.0,48757.0
16,Iowa,47286.0,49212.0,50149.0
17,Kansas,48756.0,50811.0,52820.0
18,Kentucky,40770.0,41977.0,43629.0
19,Louisiana,44074.0,46062.0,47606.0
20,Maine,46421.0,48220.0,49986.0
21,Maryland,59183.0,60630.0,61879.0
22,Massachusetts,66625.0,69517.0,72202.0
23,Michigan,45648.0,47314.0,48820.0
53,Mideast,59717.0,61927.0,63788.0
24,Minnesota,54317.0,56568.0,57946.0
25,Mississippi,36907.0,37927.0,39184.0
26,Missouri,45376.0,47230.0,48922.0
27,Montana,46101.0,47808.0,49851.0
0,National,51573.0,53817.0,55724.0
28,Nebraska,50204.0,52023.0,53419.0
29,Nevada,47542.0,49737.0,51785.0
52,New England,63109.0,65737.0,67996.0
30,New Hampshire,58419.0,60929.0,63271.0
31,New Jersey,62397.0,64759.0,66862.0
32,New Mexico,39437.0,41145.0,42907.0
33,New York,63045.0,65097.0,67325.0
34,North Carolina,44529.0,46272.0,48261.0
35,North Dakota,52455.0,55511.0,57205.0
36,Ohio,46711.0,48438.0,49809.0
37,Oklahoma,44444.0,46474.0,48524.0
38,Oregon,47983.0,50536.0,52464.0
39,Pennsylvania,52499.0,55184.0,56742.0
55,Plains,49359.0,51419.0,52969.0
40,Rhode Island,50973.0,52550.0,54735.0
58,Rocky Mountain,49534.0,52220.0,54605.0
41,South Carolina,42819.0,44326.0,46173.0
42,South Dakota,50350.0,52590.0,55011.0
56,Southeast,45748.0,47633.0,49414.0
57,Southwest,47278.0,49815.0,51449.0
43,Tennessee,44969.0,47006.0,48781.0
44,Texas,49227.0,52019.0,53505.0
45,Utah,43400.0,46002.0,48670.0
46,Vermont,50709.0,52191.0,53860.0
47,Virginia,54976.0,56738.0,58460.0
48,Washington,57244.0,60178.0,62817.0
49,West Virginia,39169.0,41300.0,42378.0
50,Wisconsin,48741.0,50818.0,52417.0
51,Wyoming,57126.0,60353.0,61571.0

In [48]:
act_2017 = act_2017.merge(trended_gdp_per_capita_by_state, 
                          how='left', 
                          on='State')
act_2017.head()

,State,Participation,English,Math,Reading,Science,Composite,GDP Per Capita (2017),GDP Per Capita (2018),GDP Per Capita (2019)
0,National,60%,20.3,20.7,21.4,21.0,21.0,51573.0,53817.0,55724.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2,40252.0,41607.0,43157.0
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8,NaN,NaN,NaN
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7,43301.0,45299.0,47242.0
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4,42056.0,43661.0,45037.0

In [49]:
act_2017.drop(labels=['GDP Per Capita (2018)', 'GDP Per Capita (2019)'], axis=1, inplace=True)
act_2017.head()

,State,Participation,English,Math,Reading,Science,Composite,GDP Per Capita (2017)
0,National,60%,20.3,20.7,21.4,21.0,21.0,51573.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2,40252.0
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8,NaN
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7,43301.0
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4,42056.0

In [50]:
sat_2017.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            5%                                 593   572   1165
1      Alaska           38%                                 547   533   1080
2     Arizona           30%                                 563   553   1116
3    Arkansas            3%                                 614   594   1208
4  California           53%                                 531   524   1055

In [71]:
sat_2017 = sat_2017.merge(trended_gdp_per_capita_by_state, how='left', on='State')
sat_2017.head()

C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:9190: FutureWarning: Passing 'suffixes' which cause duplicate columns {'GDP Per Capita (2019)_x', 'GDP Per Capita (2018)_x'} in the result is deprecated and will raise a MergeError in a future version.
  return merge(

,State,Participation,Evidence-Based Reading and Writing,Math,Total,GDP Per Capita (2017)_x,GDP Per Capita (2017)_y,GDP Per Capita (2018)_x,GDP Per Capita (2019)_x,GDP Per Capita (2017)_x,GDP Per Capita (2018)_y,GDP Per Capita (2019)_y,GDP Per Capita (2017)_y,GDP Per Capita (2018)_x,GDP Per Capita (2019)_x,GDP Per Capita (2017),GDP Per Capita (2018)_y,GDP Per Capita (2019)_y
0,Alabama,5%,593,572,1165,40252.0,40252.0,41607.0,43157.0,40252.0,41607.0,43157.0,40252.0,41607.0,43157.0,40252.0,41607.0,43157.0
1,Alaska,38%,547,533,1080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona,30%,563,553,1116,43301.0,43301.0,45299.0,47242.0,43301.0,45299.0,47242.0,43301.0,45299.0,47242.0,43301.0,45299.0,47242.0
3,Arkansas,3%,614,594,1208,42056.0,42056.0,43661.0,45037.0,42056.0,43661.0,45037.0,42056.0,43661.0,45037.0,42056.0,43661.0,45037.0
4,California,53%,531,524,1055,58813.0,58813.0,61509.0,64333.0,58813.0,61509.0,64333.0,58813.0,61509.0,64333.0,58813.0,61509.0,64333.0

In [52]:
sat_2017.drop(labels=['GDP Per Capita (2018)', 'GDP Per Capita (2019)'], axis=1, inplace=True)
sat_2017.head()

,State,Participation,Evidence-Based Reading and Writing,Math,Total,GDP Per Capita (2017)
0,Alabama,5%,593,572,1165,40252.0
1,Alaska,38%,547,533,1080,NaN
2,Arizona,30%,563,553,1116,43301.0
3,Arkansas,3%,614,594,1208,42056.0
4,California,53%,531,524,1055,58813.0

In [53]:
act_2018 = act_2018.merge(trended_gdp_per_capita_by_state, how='left', on='State')
act_2018.head()

,State,Participation,Composite,GDP Per Capita (2017),GDP Per Capita (2018),GDP Per Capita (2019)
0,Alabama,100%,19.1,40252.0,41607.0,43157.0
1,Alaska,33%,20.8,NaN,NaN,NaN
2,Arizona,66%,19.2,43301.0,45299.0,47242.0
3,Arkansas,100%,19.4,42056.0,43661.0,45037.0
4,California,27%,22.7,58813.0,61509.0,64333.0

In [55]:
act_2018.drop(labels=['GDP Per Capita (2017)', 'GDP Per Capita (2019)'], axis=1, inplace=True)

KeyError: "['GDP Per Capita (2017)' 'GDP Per Capita (2019)'] not found in axis"

In [56]:
act_2018.head()

        State Participation  Composite  GDP Per Capita (2018)
0     Alabama          100%       19.1                41607.0
1      Alaska           33%       20.8                    NaN
2     Arizona           66%       19.2                45299.0
3    Arkansas          100%       19.4                43661.0
4  California           27%       22.7                61509.0

In [57]:
sat_2018 = sat_2018.merge(trended_gdp_per_capita_by_state, how='left', on='State')
sat_2018

,State,Participation,Evidence-Based Reading and Writing,Math,Total,GDP Per Capita (2017),GDP Per Capita (2018),GDP Per Capita (2019)
0,Alabama,6%,595,571,1166,40252.0,41607.0,43157.0
1,Alaska,43%,562,544,1106,NaN,NaN,NaN
2,Arizona,29%,577,572,1149,43301.0,45299.0,47242.0
3,Arkansas,5%,592,576,1169,42056.0,43661.0,45037.0
4,California,60%,540,536,1076,58813.0,61509.0,64333.0
5,Colorado,100%,519,506,1025,55294.0,58471.0,61087.0
6,Connecticut,100%,535,519,1053,70163.0,73176.0,74930.0
7,Delaware,100%,505,492,998,50516.0,52839.0,53539.0
8,District of Columbia,92%,497,480,977,79967.0,82512.0,83270.0
9,Florida,56%,550,549,1099,49020.0,51444.0,53375.0
10,Georgia,70%,542,522,1064,44996.0,46824.0,48697.0
11,Hawaii,56%,480,530,1010,NaN,NaN,NaN
12,Idaho,100%,508,493,1001,41560.0,43356.0,45261.0
13,Illinois,99%,513,506,1019,53645.0,56512.0,58273.0
14,Indiana,63%,542,532,1074,45116.0,47100.0,48757.0
15,Iowa,3%,634,631,1265,47286.0,49212.0,50149.0
16,Kansas,4%,633,631,1265,48756.0,50811.0,52820.0
17,Kentucky,4%,630,618,1248,40770.0,41977.0,43629.0
18,Louisiana,4%,615,595,1210,44074.0,46062.0,47606.0
19,Maine,99%,512,501,1013,46421.0,48220.0,49986.0
20,Maryland,76%,545,535,1080,59183.0,60630.0,61879.0
21,Massachusetts,80%,562,563,1125,66625.0,69517.0,72202.0
22,Michigan,100%,511,499,1011,45648.0,47314.0,48820.0
23,Minnesota,4%,643,655,1298,54317.0,56568.0,57946.0
24,Mississippi,3%,630,606,1236,36907.0,37927.0,39184.0
25,Missouri,4%,633,629,1262,45376.0,47230.0,48922.0
26,Montana,10%,606,592,1198,46101.0,47808.0,49851.0
27,Nebraska,3%,629,623,1252,50204.0,52023.0,53419.0
28,Nevada,23%,574,566,1140,47542.0,49737.0,51785.0
29,New Hampshire,96%,535,528,1063,58419.0,60929.0,63271.0
30,New Jersey,82%,547,547,1094,62397.0,64759.0,66862.0
31,New Mexico,16%,552,540,1093,39437.0,41145.0,42907.0
32,New York,79%,534,534,1068,63045.0,65097.0,67325.0
33,North Carolina,52%,554,543,1098,44529.0,46272.0,48261.0
34,North Dakota,2%,640,643,1283,52455.0,55511.0,57205.0
35,Oklahoma,8%,541,521,1062,44444.0,46474.0,48524.0
36,Ohio,18%,552,547,1099,46711.0,48438.0,49809.0
37,Oregon,48%,564,553,1117,47983.0,50536.0,52464.0
38,Pennsylvania,70%,547,539,1086,52499.0,55184.0,56742.0
39,Rhode Island,97%,513,505,1018,50973.0,52550.0,54735.0
40,South Carolina,55%,547,523,1070,42819.0,44326.0,46173.0
41,South Dakota,3%,622,618,1240,50350.0,52590.0,55011.0
42,Tennessee,6%,624,607,1231,44969.0,47006.0,48781.0
43,Texas,66%,520,512,1032,49227.0,52019.0,53505.0
44,Utah,4%,480,530,1010,43400.0,46002.0,48670.0
45,Vermont,64%,565,554,1120,50709.0,52191.0,53860.0
46,Virginia,68%,567,550,1117,54976.0,56738.0,58460.0
47,Washington,69%,543,538,1081,57244.0,60178.0,62817.0
48,West Virginia,28%,513,486,999,39169.0,41300.0,42378.0
49,Wisconsin,3%,641,653,1294,48741.0,50818.0,52417.0
50,Wyoming,3%,633,625,1257,57126.0,60353.0,61571.0

In [58]:
act_2019.drop(labels=['GDP Per Capita (2017)', 'GDP Per Capita (2018)'], axis=1, inplace=True)

KeyError: "['GDP Per Capita (2017)' 'GDP Per Capita (2018)'] not found in axis"

In [59]:
act_2019.head()

        State Participation  Composite
0     Alabama          100%       18.9
1      Alaska           38%       20.1
2     Arizona           73%       19.0
3    Arkansas          100%       19.3
4  California           23%       22.6

In [60]:
sat_2019 = sat_2019.merge(trended_gdp_per_capita_by_state, how='left', on='State')
sat_2019

,State,Participation Rate,EBRW,Math,Total,GDP Per Capita (2017),GDP Per Capita (2018),GDP Per Capita (2019)
0,Alabama,7%,583,560,1143,40252.0,41607.0,43157.0
1,Alaska,41%,556,541,1097,NaN,NaN,NaN
2,Arizona,31%,569,565,1134,43301.0,45299.0,47242.0
3,Arkansas,6%,582,559,1141,42056.0,43661.0,45037.0
4,California,63%,534,531,1065,58813.0,61509.0,64333.0
5,Colorado,100%,518,506,1024,55294.0,58471.0,61087.0
6,Connecticut,100%,529,516,1046,70163.0,73176.0,74930.0
7,Delaware,100%,499,486,985,50516.0,52839.0,53539.0
8,District of Columbia,94%,495,480,975,79967.0,82512.0,83270.0
9,Florida,100%,516,483,999,49020.0,51444.0,53375.0
10,Georgia,71%,538,519,1058,44996.0,46824.0,48697.0
11,Hawaii,54%,550,550,1100,NaN,NaN,NaN
12,Idaho,100%,505,488,993,41560.0,43356.0,45261.0
13,Illinois,100%,509,504,1013,53645.0,56512.0,58273.0
14,Indiana,66%,543,537,1080,45116.0,47100.0,48757.0
15,Iowa,3%,622,622,1244,47286.0,49212.0,50149.0
16,Kansas,4%,618,623,1241,48756.0,50811.0,52820.0
17,Kentucky,4%,620,612,1232,40770.0,41977.0,43629.0
18,Louisiana,5%,610,591,1200,44074.0,46062.0,47606.0
19,Maine,99%,512,502,1013,46421.0,48220.0,49986.0
20,Maryland,82%,535,523,1058,59183.0,60630.0,61879.0
21,Massachusetts,81%,559,561,1120,66625.0,69517.0,72202.0
22,Michigan,100%,507,496,1003,45648.0,47314.0,48820.0
23,Minnesota,4%,636,648,1284,54317.0,56568.0,57946.0
24,Mississippi,3%,628,608,1237,36907.0,37927.0,39184.0
25,Missouri,4%,622,615,1236,45376.0,47230.0,48922.0
26,Montana,9%,603,596,1199,46101.0,47808.0,49851.0
27,Nebraska,3%,628,631,1260,50204.0,52023.0,53419.0
28,Nevada,20%,580,576,1156,47542.0,49737.0,51785.0
29,New Hampshire,95%,533,526,1059,58419.0,60929.0,63271.0
30,New Jersey,82%,544,545,1090,62397.0,64759.0,66862.0
31,New Mexico,18%,543,530,1073,39437.0,41145.0,42907.0
32,New York,79%,531,533,1064,63045.0,65097.0,67325.0
33,North Carolina,51%,554,546,1100,44529.0,46272.0,48261.0
34,North Dakota,2%,627,636,1263,52455.0,55511.0,57205.0
35,Ohio,19%,550,548,1097,46711.0,48438.0,49809.0
36,Oklahoma,22%,490,472,963,44444.0,46474.0,48524.0
37,Oregon,51%,562,550,1112,47983.0,50536.0,52464.0
38,Pennsylvania,70%,545,537,1082,52499.0,55184.0,56742.0
39,Puerto Rico,—,483,462,944,NaN,NaN,NaN
40,Rhode Island,100%,503,492,995,50973.0,52550.0,54735.0
41,South Carolina,68%,526,504,1030,42819.0,44326.0,46173.0
42,South Dakota,3%,633,635,1268,50350.0,52590.0,55011.0
43,Tennessee,7%,618,602,1220,44969.0,47006.0,48781.0
44,Texas,68%,515,507,1022,49227.0,52019.0,53505.0
45,Utah,4%,614,615,1230,43400.0,46002.0,48670.0
46,Vermont,66%,560,546,1106,50709.0,52191.0,53860.0
47,Virgin Islands,—,490,445,935,NaN,NaN,NaN
48,Virginia,68%,567,551,1119,54976.0,56738.0,58460.0
49,Washington,70%,539,535,1074,57244.0,60178.0,62817.0
50,West Virginia,99%,483,460,943,39169.0,41300.0,42378.0
51,Wisconsin,3%,635,648,1283,48741.0,50818.0,52417.0
52,Wyoming,3%,623,615,1238,57126.0,60353.0,61571.0

In [61]:
act_2017.head()

,State,Participation,English,Math,Reading,Science,Composite,GDP Per Capita (2017)
0,National,60%,20.3,20.7,21.4,21.0,21.0,51573.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2,40252.0
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8,NaN
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7,43301.0
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4,42056.0

In [62]:
sat_2017.head()

,State,Participation,Evidence-Based Reading and Writing,Math,Total,GDP Per Capita (2017)
0,Alabama,5%,593,572,1165,40252.0
1,Alaska,38%,547,533,1080,NaN
2,Arizona,30%,563,553,1116,43301.0
3,Arkansas,3%,614,594,1208,42056.0
4,California,53%,531,524,1055,58813.0

In [63]:
act_2018.head()

        State Participation  Composite  GDP Per Capita (2018)
0     Alabama          100%       19.1                41607.0
1      Alaska           33%       20.8                    NaN
2     Arizona           66%       19.2                45299.0
3    Arkansas          100%       19.4                43661.0
4  California           27%       22.7                61509.0

In [64]:
sat_2018.head()

,State,Participation,Evidence-Based Reading and Writing,Math,Total,GDP Per Capita (2017),GDP Per Capita (2018),GDP Per Capita (2019)
0,Alabama,6%,595,571,1166,40252.0,41607.0,43157.0
1,Alaska,43%,562,544,1106,NaN,NaN,NaN
2,Arizona,29%,577,572,1149,43301.0,45299.0,47242.0
3,Arkansas,5%,592,576,1169,42056.0,43661.0,45037.0
4,California,60%,540,536,1076,58813.0,61509.0,64333.0

In [65]:
act_2019.head()

        State Participation  Composite
0     Alabama          100%       18.9
1      Alaska           38%       20.1
2     Arizona           73%       19.0
3    Arkansas          100%       19.3
4  California           23%       22.6

In [66]:
sat_2019.head()

,State,Participation Rate,EBRW,Math,Total,GDP Per Capita (2017),GDP Per Capita (2018),GDP Per Capita (2019)
0,Alabama,7%,583,560,1143,40252.0,41607.0,43157.0
1,Alaska,41%,556,541,1097,NaN,NaN,NaN
2,Arizona,31%,569,565,1134,43301.0,45299.0,47242.0
3,Arkansas,6%,582,559,1141,42056.0,43661.0,45037.0
4,California,63%,534,531,1065,58813.0,61509.0,64333.0

In [102]:
#Plotly_Express requires states to be in 2 digit codes in order for it to work.


conditions = [
    (trended_gdp_per_capita_by_state['State'] ==  "Alabama"),
    (trended_gdp_per_capita_by_state['State'] ==  "Alaska"),
    (trended_gdp_per_capita_by_state['State'] ==  "Arizona"),
    (trended_gdp_per_capita_by_state['State'] ==  "Arkansas"),
    (trended_gdp_per_capita_by_state['State'] ==  "California"),
    (trended_gdp_per_capita_by_state['State'] ==  "Colorado"),
    (trended_gdp_per_capita_by_state['State'] ==  "Connecticut"),
    (trended_gdp_per_capita_by_state['State'] ==  "Delaware"),
    (trended_gdp_per_capita_by_state['State'] ==  "Florida"),
    (trended_gdp_per_capita_by_state['State'] ==  "Georgia"),
    (trended_gdp_per_capita_by_state['State'] ==  "Hawaii"),
    (trended_gdp_per_capita_by_state['State'] ==  "Idaho"),
    (trended_gdp_per_capita_by_state['State'] ==  "Illinois"),
    (trended_gdp_per_capita_by_state['State'] ==  "Indiana"),
    (trended_gdp_per_capita_by_state['State'] ==  "Iowa"),
    (trended_gdp_per_capita_by_state['State'] ==  "Kansas"),
    (trended_gdp_per_capita_by_state['State'] ==  "Kentucky"),
    (trended_gdp_per_capita_by_state['State'] ==  "Louisiana"),
    (trended_gdp_per_capita_by_state['State'] ==  "Maine"),
    (trended_gdp_per_capita_by_state['State'] ==  "Maryland"),
    (trended_gdp_per_capita_by_state['State'] ==  "Massachusetts"),
    (trended_gdp_per_capita_by_state['State'] ==  "Michigan"),
    (trended_gdp_per_capita_by_state['State'] ==  "Minnesota"),
    (trended_gdp_per_capita_by_state['State'] ==  "Mississippi"),
    (trended_gdp_per_capita_by_state['State'] ==  "Missouri"),
    (trended_gdp_per_capita_by_state['State'] ==  "Montana"),
    (trended_gdp_per_capita_by_state['State'] ==  "Nebraska"),
    (trended_gdp_per_capita_by_state['State'] ==  "Nevada"),
    (trended_gdp_per_capita_by_state['State'] ==  "New Hampshire"),
    (trended_gdp_per_capita_by_state['State'] ==  "New Jersey"),
    (trended_gdp_per_capita_by_state['State'] ==  "New Mexico"),
    (trended_gdp_per_capita_by_state['State'] ==  "New York"),
    (trended_gdp_per_capita_by_state['State'] ==  "North Carolina"),
    (trended_gdp_per_capita_by_state['State'] ==  "North Dakota"),
    (trended_gdp_per_capita_by_state['State'] ==  "Ohio"),
    (trended_gdp_per_capita_by_state['State'] ==  "Oklahoma"),
    (trended_gdp_per_capita_by_state['State'] ==  "Oregon"),
    (trended_gdp_per_capita_by_state['State'] ==  "Pennsylvania"),
    (trended_gdp_per_capita_by_state['State'] ==  "Rhode Island"),
    (trended_gdp_per_capita_by_state['State'] ==  "South Carolina"),
    (trended_gdp_per_capita_by_state['State'] ==  "South Dakota"),
    (trended_gdp_per_capita_by_state['State'] ==  "Tennessee"),
    (trended_gdp_per_capita_by_state['State'] ==  "Texas"),
    (trended_gdp_per_capita_by_state['State'] ==  "Utah"),
    (trended_gdp_per_capita_by_state['State'] ==  "Vermont"),
    (trended_gdp_per_capita_by_state['State'] ==  "Virginia"),
    (trended_gdp_per_capita_by_state['State'] ==  "Washington"),
    (trended_gdp_per_capita_by_state['State'] ==  "West Virginia"),
    (trended_gdp_per_capita_by_state['State'] ==  "Wisconsin"),
    (trended_gdp_per_capita_by_state['State'] ==  "Wyoming"),
    (trended_gdp_per_capita_by_state['State'] ==  "District of Columbia"),
    (trended_gdp_per_capita_by_state['State'] ==  "American Samoa"),
    (trended_gdp_per_capita_by_state['State'] ==  "Guam"),
    (trended_gdp_per_capita_by_state['State'] ==  "Northern Mariana Islands"),
    (trended_gdp_per_capita_by_state['State'] ==  "Puerto Rico"),
    (trended_gdp_per_capita_by_state['State'] ==  "United States Minor Outlying Islands"),
    (trended_gdp_per_capita_by_state['State'] ==  "U.S. Virgin Islands"),      
    ]


values = ['AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY','DC','AS','GU','MP','PR','UM','VI']


trended_gdp_per_capita_by_state['state_code'] = np.select(conditions, values)


trended_gdp_per_capita_by_state

,State,GDP Per Capita (2017),GDP Per Capita (2018),GDP Per Capita (2019),state_code
0,National,51573.0,53817.0,55724.0,0
1,Alabama,40252.0,41607.0,43157.0,AL
2,Alaska,57278.0,59783.0,61639.0,AK
3,Arizona,43301.0,45299.0,47242.0,AZ
4,Arkansas,42056.0,43661.0,45037.0,AR
5,California,58813.0,61509.0,64333.0,CA
6,Colorado,55294.0,58471.0,61087.0,CO
7,Connecticut,70163.0,73176.0,74930.0,CT
8,Delaware,50516.0,52839.0,53539.0,DE
9,District of Columbia,79967.0,82512.0,83270.0,DC
10,Florida,49020.0,51444.0,53375.0,FL
11,Georgia,44996.0,46824.0,48697.0,GA
12,Hawaii,51055.0,52174.0,53888.0,HI
13,Idaho,41560.0,43356.0,45261.0,ID
14,Illinois,53645.0,56512.0,58273.0,IL
15,Indiana,45116.0,47100.0,48757.0,IN
16,Iowa,47286.0,49212.0,50149.0,IA
17,Kansas,48756.0,50811.0,52820.0,KS
18,Kentucky,40770.0,41977.0,43629.0,KY
19,Louisiana,44074.0,46062.0,47606.0,LA
20,Maine,46421.0,48220.0,49986.0,ME
21,Maryland,59183.0,60630.0,61879.0,MD
22,Massachusetts,66625.0,69517.0,72202.0,MA
23,Michigan,45648.0,47314.0,48820.0,MI
24,Minnesota,54317.0,56568.0,57946.0,MN
25,Mississippi,36907.0,37927.0,39184.0,MS
26,Missouri,45376.0,47230.0,48922.0,MO
27,Montana,46101.0,47808.0,49851.0,MT
28,Nebraska,50204.0,52023.0,53419.0,NE
29,Nevada,47542.0,49737.0,51785.0,NV
30,New Hampshire,58419.0,60929.0,63271.0,NH
31,New Jersey,62397.0,64759.0,66862.0,NJ
32,New Mexico,39437.0,41145.0,42907.0,NM
33,New York,63045.0,65097.0,67325.0,NY
34,North Carolina,44529.0,46272.0,48261.0,NC
35,North Dakota,52455.0,55511.0,57205.0,ND
36,Ohio,46711.0,48438.0,49809.0,OH
37,Oklahoma,44444.0,46474.0,48524.0,OK
38,Oregon,47983.0,50536.0,52464.0,OR
39,Pennsylvania,52499.0,55184.0,56742.0,PA
40,Rhode Island,50973.0,52550.0,54735.0,RI
41,South Carolina,42819.0,44326.0,46173.0,SC
42,South Dakota,50350.0,52590.0,55011.0,SD
43,Tennessee,44969.0,47006.0,48781.0,TN
44,Texas,49227.0,52019.0,53505.0,TX
45,Utah,43400.0,46002.0,48670.0,UT
46,Vermont,50709.0,52191.0,53860.0,VT
47,Virginia,54976.0,56738.0,58460.0,VA
48,Washington,57244.0,60178.0,62817.0,WA
49,West Virginia,39169.0,41300.0,42378.0,WV
50,Wisconsin,48741.0,50818.0,52417.0,WI
51,Wyoming,57126.0,60353.0,61571.0,WY
52,New England,63109.0,65737.0,67996.0,0
53,Mideast,59717.0,61927.0,63788.0,0
54,Great Lakes,48407.0,50503.0,52069.0,0
55,Plains,49359.0,51419.0,52969.0,0
56,Southeast,45748.0,47633.0,49414.0,0
57,Southwest,47278.0,49815.0,51449.0,0
58,Rocky Mountain,49534.0,52220.0,54605.0,0
59,Far West,56991.0,59627.0,62262.0,0

In [ ]:
conditions = [
    (df['State'] <= 2),
    (df['State'] > 2) & (df['likes_count'] <= 9),
    (df['State'] > 9) & (df['likes_count'] <= 15),
    (df['State'] > 15)
    ]

# create a list of the values we want to assign for each condition
values = ['tier_4', 'tier_3', 'tier_2', 'tier_1']

# create a new column and use np.select to assign values to it using our lists as arguments
df['tier'] = np.select(conditions, values)

# display updated DataFrame
df.head()

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [ ]:
#Code:

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!